.header{
  background-image:url(../images/overlay.png) , url(../images/banner.jpg);
  background-position:top center;
  background-size:cover;
  background-attachment: fixed;
  height:100vh;
  .container{
    height:100%;
  }
  .row{
    height:100%;
    align-items: center;
  }
  .col-md-12{
    text-align: center;
    h1{
      color:var(--primary-white);
      font-size:3rem
    }
    p{
      font-size:1.4rem;
      color:var(--font-color);
      line-height: 2;
    }
  }
  @media(max-width:991.98px){
    .col-md-12{
      p{
        font-size:0.9rem;
        margin-bottom:2rem;
      }
    }
  }
}